@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.rangeBox {
  background-color: #eee;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.tolerance {
  color: #282c34;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}
.range {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.content {
  padding: 10px;
}
.data {
  display: flex;
  align-items: center;
}

.title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  min-width: 120px;
}

.chart {
  border: 1px solid #eee;
  width: 100%;
  /* border-radius: 0 5px 5px 0; */
  padding: 10px 10px;
}
.chart-1 {
  background-color: transparent;
}

.chart-1 {
  background-color: rgba(0, 128, 0, 0.6);
}
.chart-2 {
  width: 50%;
  background-color: rgba(0, 0, 255, 0.6);
}
.chart-3 {
  background-color: rgba(255, 192, 203, 0.5);
}
.chart-4 {
  background-color: purple;
}
.chart-5 {
  background-color: rgba(255, 255, 0, 0.7);
}
.chart-6 {
  background-color: rgb(248, 10, 49, 0.6);
}
.chart-7 {
  background-color: cornflowerblue;
}
.chart-8 {
  background-color: rgba(0, 0, 0, 0.6);
}
.chart-9 {
  background-color: orange;
}
.chart-10 {
  background-color: rgb(248, 10, 49, 0.3);
}

.percent {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}
